/***** Base Styles *****/
body {
	font-family: 'Montserrat', sans-serif;
	background-color: #ffffff;
}
#menu, #reviews, #contact {
	height:200px;
}

/***** Grid *****/
.full-width{
	width: 1200px;
	margin: 0 auto;
}
.half-width{
	width: 600px;
	float: left;
}
.third-width{
	width: 399px;
	float: left;
	border-top: 1px solid #dedbdc;
	border-bottom: 1px solid #dedbdc;
}

/***** Header *****/
header{
	height: 450px;
}
header h1{
	font-size: 30px;
	padding: 25px 0px 25px 0px;
}
header h1 span{
	color: #77a466;
}
nav {
	float: right;
	padding: 40px 0px 15px 0px;
}
nav ul li{
	display: inline-block;
}
nav ul li a{
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	font-weight: 500;
	color: #77a466;
	padding-left: 10px;

}
header img {
	border-top: 3px solid #77a466;
	border-bottom: 3px solid #77a466;
}

/***** About *****/
#about{
	height: 150px;
}
#about h2 {
font-size: 18px;
color: #77a466;
text-transform: uppercase;
}
#about p{
font-size: 16px;
font-weight: 500;
line-height: 28px;
color: black;
}

/***** Menu *****/
#menu{
	padding: 25px 0 0 0;
}
#menu h3{
	font-size: 12px;
	text-transform: uppercase;

}
#menu p {
	font-size: 16px;
	font-weight: 500;
	color: #77a466;
}


/***** Reviews *****/
#reviews{
	padding: 25px 0 0 0;
	border-left: 1px solid #dedbdc;
}
#reviews h3{
font-size: 12px;
margin-left: 27px;
}
#reviews p{
font-size: 16px;
font-weight: 500;
margin-left: 27px;
margin-right: 27px;
}

/***** Contact *****/
#contact {
	padding: 25px 0 0 0;
	border-left: 1px solid #dedbdc;
}
#contact h3{
font-size: 12px;
margin-left: 27px;
}
#contact p{
font-size: 16px;
font-weight: 500;
margin-left: 27px;
}

/***** Footer *****/
footer{
	height: 200px;
	padding: 50px;
}
footer h2{
	text-align: center;
	font-size: 16px;
	padding: 200px 10px 10px 10px;
	text-transform: uppercase;
}
footer span{
	font-family:'Satisfy', cursive;
	font-style: oblique;
	color:#77a466;
	text-transform: lowercase;
}